.login__brand {
    height: 6vh; 
    background-image: url('https://app.ashbyhq.com/api/images/org-theme-wordmark/a6641cc1-44a7-482d-ac23-ad45e9bf44dd/6f7436ea-bdf7-4b7e-9936-59a0e5944c49.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
}

.login__brand svg {
    display: none;
}