div.collection-edit__sidebar-wrap {
  background: white;
  width: 30%;
}

.collection-edit__meta {
  flex-direction: column;
}

div.collection-edit__main {
  width: 66%;
}

.relationship--single-value {
  &__drawer-toggler {
    visibility: hidden;
  }
}

.template-minimal--width-normal .template-minimal__wrap {
  max-width: 800px;
  width: 100%;
}

.delete-documents__toggle {
  display: none;
}

.react-datepicker__time-list {
  display: flex;
  flex-direction: column;
}

div.date-time-picker .react-datepicker__current-month {
  display: unset;
}

.edit-many__main .render-fields #field-tags {
  display: none;
}

.edit-many__main .field-select::before {
  content: 'WARNING: This bulk edit feature will overwrite/replace all values that are modified.';
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  white-space: nowrap;
  z-index: 1;
}

// .nav {
//    header {
//     margin-top: -20%; 
//     a,
//      button {
//        display: none;
//        padding: 0;
//      }
//   }
//}  

