@import '~payload/scss';

.solaceLandingContainer {
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solaceLanding {
  width: 30%;
}

.notesContainer {
  padding: 3% 4%;
  height: 100%;
}

.buttonLink {
  background: none;
  color: black;
  border: none;
  font: inherit;
  font-weight: 600;
}

.buttonLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.createButton {
  margin-top: -10%;
  margin-bottom: 3%;
  ;
}

.cancel-button {
  float: right;
}

.search-filter {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: base(.5);
  }

  &__input {
    @include formInput;
    box-shadow: none;
    padding-left: base(2);
    background-color: var(--theme-elevation-50);
    border: none;

    &:not(:disabled) {

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
}